In [1]:
from exp.features import create_train_features
from exp.run import run_experiment
from exp.mappings import alg_map
from exp.train import train_model
import pandas as pd
import json

### Create Training Features

In [2]:
X_tr, y_tr = create_train_features(r'C:\Users\arvin\dev\lanl\train.csv')

HBox(children=(IntProgress(value=0, max=4194), HTML(value='')))

4194 samples in new train data and 138 columns.

In [37]:
# uncomment lines to load updated code without re-loading the data and re-creating training features
import sys
sys.path.append(r"C:\Users\arvin\PycharmProjects\kaggle_project")

### Example hyper-parameter experiments for different algorithms

In [38]:
params={"lr": {"fit_intercept": [False, True], "normalize": [False, True]},
       "ridge": {"alpha": [.000001, .00001, .0001, .001, .01, .1],
                 "fit_intercept": [False, True], "normalize": [False, True]},
       "lasso": {"alpha": [.000001, .00001, .0001, .001, .01, .1],
                 "fit_intercept": [False, True], "normalize": [False, True]},
       "elastic": {"alpha": [.000001, .00001, .0001, .001, .01, .1],
                   "fit_intercept": [False, True], "normalize": [False, True],
                  "l1_ratio": [.01, .99, .2, .4, .6, .8]},
       "dtreg": {"criterion": ["mse", "friedman_mse", "mae"],
                 "splitter": ["best", "best", "random"],
                "max_depth": [None, None, None, 5,10,20,50]},
       "rfreg": {"n_estimators": [5, 10, 50, 100, 200, 100],
                 "criterion": ["mse", "friedman_mse", "mae"],
                 "splitter": ["best", "best", "random"],
                "max_depth": [None, None, None, 5,10,20,50]},
       "abreg": {"n_estimators": [5, 10, 50, 100, 200, 100],
                 "learning_rate ": [1, .9, .5, .1],
                 "loss": ["linear", "square", "exponential"]},
       "gbreg": {"n_estimators": [5, 10, 50, 100, 200, 100],
                 "learning_rate ": [1, .9, .5, .1],
                 "loss": ["ls", "lad", "huber", "quantile"],
                 "subsample": [.1, .2, .5, 1.0]}}

### Run Experiment (for Ridge algorithm)

In [39]:
alg = "ridge"
n_fold=10
save_results= "save.csv"
score_df = run_experiment(X=X_tr, Y=y_tr, n_fold=n_fold, alg=alg, alg_params=params[alg], search_type="random", num_searches=2, save_results=save_results)

4.0
Fold 0 started at Sat Mar 16 17:20:13 2019
Fold 0. MAE: 5.3525.

Fold 1 started at Sat Mar 16 17:20:13 2019
Fold 1. MAE: 5.5756.

Fold 2 started at Sat Mar 16 17:20:13 2019
Fold 2. MAE: 5.7094.

Fold 3 started at Sat Mar 16 17:20:13 2019
Fold 3. MAE: 5.3791.

Fold 4 started at Sat Mar 16 17:20:13 2019
Fold 4. MAE: 5.6934.

Fold 5 started at Sat Mar 16 17:20:13 2019
Fold 5. MAE: 5.3771.

Fold 6 started at Sat Mar 16 17:20:14 2019
Fold 6. MAE: 5.3886.

Fold 7 started at Sat Mar 16 17:20:14 2019
Fold 7. MAE: 5.7089.

Fold 8 started at Sat Mar 16 17:20:14 2019
Fold 8. MAE: 5.4713.

Fold 9 started at Sat Mar 16 17:20:14 2019
Fold 9. MAE: 5.9484.

CV mean score: 5.5604, mad: 0.2344.
Fold 0 started at Sat Mar 16 17:20:14 2019
Fold 0. MAE: 5.8650.

Fold 1 started at Sat Mar 16 17:20:14 2019
Fold 1. MAE: 5.7368.

Fold 2 started at Sat Mar 16 17:20:14 2019
Fold 2. MAE: 5.2616.

Fold 3 started at Sat Mar 16 17:20:14 2019
Fold 3. MAE: 5.9159.

Fold 4 started at Sat Mar 16 17:20:14 2019
Fold 4. MAE: 5.5882.

Fold 5 started at Sat Mar 16 17:20:14 2019
Fold 5. MAE: 5.5144.

Fold 6 started at Sat Mar 16 17:20:14 2019
Fold 6. MAE: 5.5528.

Fold 7 started at Sat Mar 16 17:20:14 2019
Fold 7. MAE: 5.4278.

Fold 8 started at Sat Mar 16 17:20:14 2019
Fold 8. MAE: 5.4093.

Fold 9 started at Sat Mar 16 17:20:14 2019
Fold 9. MAE: 5.5964.

CV mean score: 5.5868, mad: 0.2252.
Fold 0 started at Sat Mar 16 17:20:14 2019
Fold 0. MAE: 2.2170.

Fold 1 started at Sat Mar 16 17:20:14 2019
Fold 1. MAE: 2.1284.

Fold 2 started at Sat Mar 16 17:20:14 2019
Fold 2. MAE: 2.1756.

Fold 3 started at Sat Mar 16 17:20:15 2019
Fold 3. MAE: 2.0983.

Fold 4 started at Sat Mar 16 17:20:15 2019
Fold 4. MAE: 2.1156.

Fold 5 started at Sat Mar 16 17:20:15 2019
Fold 5. MAE: 2.1338.

Fold 6 started at Sat Mar 16 17:20:15 2019
Fold 6. MAE: 2.2386.

Fold 7 started at Sat Mar 16 17:20:15 2019
Fold 7. MAE: 2.1673.

Fold 8 started at Sat Mar 16 17:20:15 2019
Fold 8. MAE: 2.1156.

Fold 9 started at Sat Mar 16 17:20:15 2019
Fold 9. MAE: 2.1001.

CV mean score: 2.1490, mad: 0.0473.
Fold 0 started at Sat Mar 16 17:20:15 2019
Fold 0. MAE: 2.1401.

Fold 1 started at Sat Mar 16 17:20:15 2019
Fold 1. MAE: 2.3084.

Fold 2 started at Sat Mar 16 17:20:15 2019
Fold 2. MAE: 2.1149.

Fold 3 started at Sat Mar 16 17:20:15 2019
Fold 3. MAE: 2.1009.

Fold 4 started at Sat Mar 16 17:20:15 2019
Fold 4. MAE: 2.0359.

Fold 5 started at Sat Mar 16 17:20:15 2019
Fold 5. MAE: 2.2211.

Fold 6 started at Sat Mar 16 17:20:15 2019
Fold 6. MAE: 2.1442.

Fold 7 started at Sat Mar 16 17:20:15 2019
Fold 7. MAE: 2.2865.

Fold 8 started at Sat Mar 16 17:20:15 2019
Fold 8. MAE: 2.1852.

Fold 9 started at Sat Mar 16 17:20:15 2019
Fold 9. MAE: 2.0790.

CV mean score: 2.1616, mad: 0.0787.

In [40]:
display(score_df)

  alg     score       mad                                   params_json
0  lr  5.560429  0.234448  {"fit_intercept": false, "normalize": false}
0  lr  5.586821  0.225234   {"fit_intercept": false, "normalize": true}
0  lr  2.149037  0.047285   {"fit_intercept": true, "normalize": false}
0  lr  2.161638  0.078673    {"fit_intercept": true, "normalize": true}

### Run Experiment (for Elastic algorithm) and append to CSV results

In [41]:
alg = "elastic"
score_df = run_experiment(score_df=save_results, X=X_tr, Y=y_tr, n_fold=n_fold, alg=alg, alg_params=params[alg], search_type="random", num_searches=2, save_results=save_results)

16.0
Fold 0 started at Sat Mar 16 17:20:16 2019
Fold 0. MAE: 2.1095.

Fold 1 started at Sat Mar 16 17:20:16 2019
Fold 1. MAE: 2.1865.

Fold 2 started at Sat Mar 16 17:20:16 2019
Fold 2. MAE: 2.1435.

Fold 3 started at Sat Mar 16 17:20:17 2019
Fold 3. MAE: 2.0861.

Fold 4 started at Sat Mar 16 17:20:17 2019
Fold 4. MAE: 2.1216.

Fold 5 started at Sat Mar 16 17:20:18 2019
Fold 5. MAE: 2.2368.

Fold 6 started at Sat Mar 16 17:20:18 2019
Fold 6. MAE: 2.1656.

Fold 7 started at Sat Mar 16 17:20:18 2019
Fold 7. MAE: 2.1170.

Fold 8 started at Sat Mar 16 17:20:19 2019
Fold 8. MAE: 2.1832.

Fold 9 started at Sat Mar 16 17:20:19 2019
Fold 9. MAE: 2.0888.

CV mean score: 2.1439, mad: 0.0570.
Fold 0 started at Sat Mar 16 17:20:20 2019
Fold 0. MAE: 2.1746.

Fold 1 started at Sat Mar 16 17:20:21 2019
Fold 1. MAE: 2.2748.

Fold 2 started at Sat Mar 16 17:20:22 2019
Fold 2. MAE: 2.3403.

Fold 3 started at Sat Mar 16 17:20:23 2019
Fold 3. MAE: 2.2222.

Fold 4 started at Sat Mar 16 17:20:24 2019
Fold 4. MAE: 2.1035.

Fold 5 started at Sat Mar 16 17:20:25 2019
Fold 5. MAE: 2.1085.

Fold 6 started at Sat Mar 16 17:20:26 2019
Fold 6. MAE: 2.0552.

Fold 7 started at Sat Mar 16 17:20:27 2019
Fold 7. MAE: 2.0633.

Fold 8 started at Sat Mar 16 17:20:29 2019
Fold 8. MAE: 2.2665.

Fold 9 started at Sat Mar 16 17:20:30 2019
Fold 9. MAE: 2.0631.

CV mean score: 2.1672, mad: 0.1179.

In [42]:
display(score_df)

,alg,score,mad,params_json
0,lr,5.560429,0.234448,"{""fit_intercept"": false, ""normalize"": false}"
1,lr,5.586821,0.225234,"{""fit_intercept"": false, ""normalize"": true}"
2,lr,2.149037,0.047285,"{""fit_intercept"": true, ""normalize"": false}"
3,lr,2.161638,0.078673,"{""fit_intercept"": true, ""normalize"": true}"
0,elastic,2.143861,0.056974,"{""alpha"": 0.01, ""fit_intercept"": true, ""l1_rat..."
0,elastic,2.167202,0.117915,"{""alpha"": 1e-05, ""fit_intercept"": true, ""l1_ra..."

### Display models ranked by CV scores

In [43]:
score_df = score_df.sort_values(by="score", axis=0)
display(score_df)

,alg,score,mad,params_json
0,elastic,2.143861,0.056974,"{""alpha"": 0.01, ""fit_intercept"": true, ""l1_rat..."
2,lr,2.149037,0.047285,"{""fit_intercept"": true, ""normalize"": false}"
3,lr,2.161638,0.078673,"{""fit_intercept"": true, ""normalize"": true}"
0,elastic,2.167202,0.117915,"{""alpha"": 1e-05, ""fit_intercept"": true, ""l1_ra..."
0,lr,5.560429,0.234448,"{""fit_intercept"": false, ""normalize"": false}"
1,lr,5.586821,0.225234,"{""fit_intercept"": false, ""normalize"": true}"

### Load results from CSV File and re-produce models ranked by CV scores

In [44]:
score_df = pd.read_csv(save_results)
score_df = score_df.sort_values(by="score", axis=0)
display(score_df)

,alg,score,mad,params_json
4,elastic,2.143861,0.056974,"{""alpha"": 0.01, ""fit_intercept"": true, ""l1_rat..."
2,lr,2.149037,0.047285,"{""fit_intercept"": true, ""normalize"": false}"
3,lr,2.161638,0.078673,"{""fit_intercept"": true, ""normalize"": true}"
5,elastic,2.167202,0.117915,"{""alpha"": 1e-05, ""fit_intercept"": true, ""l1_ra..."
0,lr,5.560429,0.234448,"{""fit_intercept"": false, ""normalize"": false}"
1,lr,5.586821,0.225234,"{""fit_intercept"": false, ""normalize"": true}"

### Load best model from CSV File

In [45]:
# retrieve top scoring row
best = score_df.iloc[0]
display(best)

# retrieve model parameters from pandas row
alg = best["alg"]
params_json = best["params_json"]
print("alg: {}".format(alg))
print("params_json: {}".format(params_json))

# retrieve relevant values
alg_cls = alg_map[alg]
params = json.loads(params_json)

# initialize model
model = alg_cls(**params)

# train algorithm
train_model(X=X_tr, Y=y_tr, n_fold=n_fold, model=model)

alg                                                      elastic
score                                                    2.14386
mad                                                    0.0569742
params_json    {"alpha": 0.01, "fit_intercept": true, "l1_rat...
Name: 4, dtype: object

alg: elastic
params_json: {"alpha": 0.01, "fit_intercept": true, "l1_ratio": 0.99, "normalize": false}
Fold 0 started at Sat Mar 16 17:20:31 2019
Fold 0. MAE: 2.1138.

Fold 1 started at Sat Mar 16 17:20:32 2019
Fold 1. MAE: 2.0690.

Fold 2 started at Sat Mar 16 17:20:32 2019
Fold 2. MAE: 2.3163.

Fold 3 started at Sat Mar 16 17:20:32 2019
Fold 3. MAE: 2.1332.

Fold 4 started at Sat Mar 16 17:20:33 2019
Fold 4. MAE: 2.1438.

Fold 5 started at Sat Mar 16 17:20:33 2019
Fold 5. MAE: 2.0710.

Fold 6 started at Sat Mar 16 17:20:33 2019
Fold 6. MAE: 2.1993.

Fold 7 started at Sat Mar 16 17:20:34 2019
Fold 7. MAE: 2.1804.

Fold 8 started at Sat Mar 16 17:20:34 2019
Fold 8. MAE: 2.0738.

Fold 9 started at Sat Mar 16 17:20:35 2019
Fold 9. MAE: 2.1440.

CV mean score: 2.1445, mad: 0.0762.

(2.1444538559345947, 0.07615679708122343)