In [1]:
from exp.features import create_train_features
from exp.run import run_experiment
# when code updates, add to sys.path

In [2]:
X_tr, y_tr = create_train_features(r'C:\Users\arvin\dev\lanl\train.csv')

HBox(children=(IntProgress(value=0, max=4194), HTML(value='')))

4194 samples in new train data and 138 columns.

In [3]:
# example hyper-parameter experiments for different algorithms
params={"lr": {"fit_intercept": [False, True], "normalize": [False, True]},
       "ridge": {"alpha": [.000001, .00001, .0001, .001, .01, .1],
                 "fit_intercept": [False, True], "normalize": [False, True]},
       "lasso": {"alpha": [.000001, .00001, .0001, .001, .01, .1],
                 "fit_intercept": [False, True], "normalize": [False, True]},
       "elastic": {"alpha": [.000001, .00001, .0001, .001, .01, .1],
                   "fit_intercept": [False, True], "normalize": [False, True],
                  "l1_ratio": [.01, .99, .2, .4, .6, .8]},
       "dtreg": {"criterion": ["mse", "friedman_mse", "mae"],
                 "splitter": ["best", "best", "random"],
                "max_depth": [None, None, None, 5,10,20,50]},
       "rfreg": {"n_estimators": [5, 10, 50, 100, 200, 100],
                 "criterion": ["mse", "friedman_mse", "mae"],
                 "splitter": ["best", "best", "random"],
                "max_depth": [None, None, None, 5,10,20,50]},
       "abreg": {"n_estimators": [5, 10, 50, 100, 200, 100],
                 "learning_rate ": [1, .9, .5, .1],
                 "loss": ["linear", "square", "exponential"]},
       "gbreg": {"n_estimators": [5, 10, 50, 100, 200, 100],
                 "learning_rate ": [1, .9, .5, .1],
                 "loss": ["ls", "lad", "huber", "quantile"],
                 "subsample": [.1, .2, .5, 1.0]}}

In [4]:
save_results= "save.csv"

In [5]:
alg = "ridge"
n_fold=10
score_df = run_experiment(X=X_tr, Y=y_tr, n_fold=n_fold, alg=alg, alg_params=params[alg], search_type="random", num_searches=2, save_results=save_results)

Fold 0 started at Sat Mar 16 06:40:33 2019
Fold 0. MAE: 5.9876.

Fold 1 started at Sat Mar 16 06:40:33 2019
Fold 1. MAE: 6.0462.

Fold 2 started at Sat Mar 16 06:40:33 2019
Fold 2. MAE: 6.3440.

Fold 3 started at Sat Mar 16 06:40:33 2019
Fold 3. MAE: 6.0462.

Fold 4 started at Sat Mar 16 06:40:33 2019
Fold 4. MAE: 6.2757.

Fold 5 started at Sat Mar 16 06:40:33 2019
Fold 5. MAE: 6.0887.

Fold 6 started at Sat Mar 16 06:40:33 2019
Fold 6. MAE: 6.2404.

Fold 7 started at Sat Mar 16 06:40:33 2019
Fold 7. MAE: 6.2784.

Fold 8 started at Sat Mar 16 06:40:33 2019
Fold 8. MAE: 5.8825.

Fold 9 started at Sat Mar 16 06:40:33 2019
Fold 9. MAE: 6.0093.

CV mean score: 6.1199, mad: 0.1875.
Fold 0 started at Sat Mar 16 06:40:33 2019
Fold 0. MAE: 2.2102.

Fold 1 started at Sat Mar 16 06:40:33 2019
Fold 1. MAE: 2.2176.

Fold 2 started at Sat Mar 16 06:40:34 2019
Fold 2. MAE: 1.9727.

Fold 3 started at Sat Mar 16 06:40:34 2019
Fold 3. MAE: 2.0808.

Fold 4 started at Sat Mar 16 06:40:34 2019
Fold 4. MAE: 2.0156.

Fold 5 started at Sat Mar 16 06:40:34 2019
Fold 5. MAE: 2.3453.

Fold 6 started at Sat Mar 16 06:40:34 2019
Fold 6. MAE: 2.2460.

Fold 7 started at Sat Mar 16 06:40:34 2019
Fold 7. MAE: 2.1120.

Fold 8 started at Sat Mar 16 06:40:34 2019
Fold 8. MAE: 2.1706.

Fold 9 started at Sat Mar 16 06:40:34 2019
Fold 9. MAE: 2.1096.

CV mean score: 2.1480, mad: 0.1077.

In [6]:
display(score_df)

,alg,score,mad,params_json
0,ridge,6.119883,0.187462,"{""alpha"": 0.01, ""fit_intercept"": false, ""norma..."
0,ridge,2.148046,0.107693,"{""alpha"": 1e-05, ""fit_intercept"": true, ""norma..."

In [7]:
alg = "elastic"
score_df = run_experiment(score_df=save_results, X=X_tr, Y=y_tr, n_fold=n_fold, alg=alg, alg_params=params[alg], search_type="random", num_searches=2, save_results=save_results)

Fold 0 started at Sat Mar 16 06:40:34 2019
Fold 0. MAE: 5.9230.

Fold 1 started at Sat Mar 16 06:40:36 2019
Fold 1. MAE: 6.2144.

Fold 2 started at Sat Mar 16 06:40:37 2019
Fold 2. MAE: 6.0073.

Fold 3 started at Sat Mar 16 06:40:39 2019
Fold 3. MAE: 6.1115.

Fold 4 started at Sat Mar 16 06:40:40 2019
Fold 4. MAE: 5.9880.

CV mean score: 6.0488, mad: 0.1249.
Fold 0 started at Sat Mar 16 06:40:42 2019
Fold 0. MAE: 2.2387.

Fold 1 started at Sat Mar 16 06:40:42 2019
Fold 1. MAE: 2.2198.

Fold 2 started at Sat Mar 16 06:40:42 2019
Fold 2. MAE: 2.2266.

Fold 3 started at Sat Mar 16 06:40:42 2019
Fold 3. MAE: 2.3055.

Fold 4 started at Sat Mar 16 06:40:43 2019
Fold 4. MAE: 2.2419.

CV mean score: 2.2465, mad: 0.0179.

In [8]:
display(score_df)

,alg,score,mad,params_json
0,ridge,6.119883,0.187462,"{""alpha"": 0.01, ""fit_intercept"": false, ""norma..."
1,ridge,2.148046,0.107693,"{""alpha"": 1e-05, ""fit_intercept"": true, ""norma..."
0,elastic,6.048844,0.124912,"{""alpha"": 0.0001, ""fit_intercept"": false, ""l1_..."
0,elastic,2.246507,0.017940,"{""alpha"": 0.001, ""fit_intercept"": true, ""l1_ra..."

In [9]:
score_df = score_df.sort_values(by="score", axis=0)
display(score_df)

,alg,score,mad,params_json
1,ridge,2.148046,0.107693,"{""alpha"": 1e-05, ""fit_intercept"": true, ""norma..."
0,elastic,2.246507,0.017940,"{""alpha"": 0.001, ""fit_intercept"": true, ""l1_ra..."
0,elastic,6.048844,0.124912,"{""alpha"": 0.0001, ""fit_intercept"": false, ""l1_..."
0,ridge,6.119883,0.187462,"{""alpha"": 0.01, ""fit_intercept"": false, ""norma..."

In [11]:
import pandas as pd

In [12]:
score_df = pd.read_csv(save_results)
score_df = score_df.sort_values(by="score", axis=0)
display(score_df)

,alg,score,mad,params_json
1,ridge,2.148046,0.107693,"{""alpha"": 1e-05, ""fit_intercept"": true, ""norma..."
3,elastic,2.246507,0.017940,"{""alpha"": 0.001, ""fit_intercept"": true, ""l1_ra..."
2,elastic,6.048844,0.124912,"{""alpha"": 0.0001, ""fit_intercept"": false, ""l1_..."
0,ridge,6.119883,0.187462,"{""alpha"": 0.01, ""fit_intercept"": false, ""norma..."

In [13]:
best = score_df.iloc[0]
display(best)
from sklearn.linear_model import Ridge
model = Ridge(**best["params"])

alg                                                        ridge
score                                                    2.14805
mad                                                     0.107693
params_json    {"alpha": 1e-05, "fit_intercept": true, "norma...
Name: 1, dtype: object